--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
streamlit
yt-dlp
openai-whisper
sentence-transformers
transformers
yake
scikit-learn
numpy
tiktoken
groq
python-dotenv